<!-- <table>
   <tr> <td></td>
    <p></p> -->
    <div><img src="{{user.profile}}"></div>
    <div>{{user.username}}</div>

   <!-- <tr><td> Username: {{user.username}}</td></tr> -->
    <!-- <td>Repositories: {{user.repoNumber}}-->
        <div *ngFor='let repository of repositories'>
            <div> {{repository.name}}</div>
             <!-- <a href="{{repository.html_url}}">{{repository.name}}  </a>
             {{repository.created_at|date}}
         </div> -->
    <!-- </td>   -->

<!-- </tr>
</table> -->



<!-- <app-github-form></app-github-form> -->
