<!-- <table>
   <tr> <td></td>
    <p></p> -->
<table>
    <tr>
        <th>
            <h3>{{user.username}}</h3>
        </th>
        <th><h3>Repositories: {{user.repoNumber}}</h3> </th>
       
    </tr>
    <tr>
        <td>
            <img src="{{user.profile}}">

        </td>
        <td><div class="repos" *ngFor='let repository of repositories'><a href="{{repository.html_url}}">{{repository.name}}</a>
                &nbsp; &nbsp; &nbsp; &nbsp;   &nbsp;  created_at &nbsp; &nbsp; &nbsp; &nbsp;{{repository.created_at|date}}</div>
        </td>
      
        <!-- <td>Created at{{repository.created_at|date}}</td> -->
    </tr>
</table>




<!-- <app-github-form></app-github-form> -->